/* Additional styling for code blocks. */

pre[class^='language-']::before {
  color: $gray-light;
  content: "Code";
  display: block;
  font-size: 12px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

$languages-list: 'bash' 'json' 'css' 'scss' 'javascript' 'php' 'mysql' 'sql';
@each $language in $languages-list {
  pre.language-#{$language}::before {
    content: "#{$language}";
  }
}
