.homepage {
  display: grid;

  @media (width >= 750px) {
    grid-template-columns: 2fr 3fr;
    column-gap: $space-triple;
  }

  h2 {
    font-size: $font-size-h3;
  }

  .post-titles {
    line-height: 1.2;
    list-style: none inside none;
    padding-left: 0;

    li + li {
      margin-top: $space;
    }

    .timestamp {
      font-size: $font-size-small;
    }
  }
}
