/* Image styles. */
img {
  border: {
    color: $c-image-border;
    width: 1px;
    radius: 0.5rem;
    style: solid;
  }

  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
}
