/* Styling for the navigation. */
.skip-link {
  color: $c-skip-link;

  &--wrapper {
    text-align: center;
  }

  &:focus,
  &:hover,
  &:active {
    clip: auto;
    color: $c-skip-link;
    height: auto;
    overflow: visible;
    padding: 10px;
    width: auto;
  }
}

.nav-container {
  background-color: $c-body-nav;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding-left: 0;

    @media (min-width: 550px) {
      justify-content: left;
    }
  }

  a {
    border: 0;
    color: $c-links-main-navigation;
    display: block;
    padding: 1rem 0;
    position: relative;
    transition: 0.3s color ease;

    &:focus,
    &:hover,
    &:active {
      color: $c-links-main-navigation-accent;
    }

    &::after {
      content: "";
      transition: 0.3s all ease;
      position: absolute;
      bottom: 0;
      height: 0.3rem;
      width: 0;
      background: $c-links-main-navigation-accent;
      left: 50%;
      transform: translateX(-50%);
    }

    &:focus::after,
    &:hover::after,
    &:active::after {
      width: 100%;
    }

    @media (min-width: 550px) {
      display: inline-block;
      padding: 1rem;
    }
  }
}

/* Disable this rule as the footer is a separate element, not a descendant of
   the nav-container. */
/* stylelint-disable no-descending-specificity */
footer {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      display: inline-block;

      a {
        margin: auto 1rem;
      }

      &::after {
        content: "\00B7";
      }

      &:first-of-type {
        a {
          margin-left: 0;
        }
      }

      &:last-of-type {
        &::after {
          content: "";
        }
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
