/* Styling for the navigation. */
.skip-link {
  color: $c-tumbleweed-light;

  &--wrapper {
    text-align: center;
  }

  &:focus,
  &:hover,
  &:active {
    clip: auto;
    color: $c-tumbleweed-light;
    height: auto;
    overflow: visible;
    padding: 10px;
    width: auto;
  }
}

aside {
  ul {
    list-style: none;
  }

  li {
    &:not(:last-child) {
      border-bottom: 1px dotted $c-columbia-blue;
    }

    a {
      color: $c-medium-vermilion-dark;
      display: block;
      padding: 1.5rem;

      &:hover {
        background-color: $c-columbia-blue;
      }
    }
  }
}

footer {
  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        margin: auto 1rem;
      }

      &::after {
        content: "\00B7";
      }

      &:first-of-type {
        a {
          margin-left: 0;
        }
      }

      &:last-of-type {
        &::after {
          content: "";
        }
      }
    }
  }
}
