/* Styling for individual posts. */
.tmpl-post {
  h2 {
    position: relative;
  }

  .permalink {
    font-size: $font-size-permalink;
    position: absolute;
    left: -3.5rem;
    top: 0.7rem;
  }
}

.post-list {
  .post {
    border: 1px solid $c-post-list-borders;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
  }
}

.post-metadata {
  font-size: 0.8rem;
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
  }
}
