/* Styling for tables. */
table {
  th,
  td {
    padding: 0.5rem;

    &:first-child {
      padding-left: 0.5rem;
    }

    &:last-child {
      padding-right: 0.5rem;
    }
  }

  th {
    background-color: $c-table-header;
    color: $c-table-header-text;
  }

  tr:nth-child(2n+2) {
    background-color: $c-table-stripe;
  }
}
