/* Styles for the site tagline. */
header {
  h1 {
    a,
    a:hover,
    a:focus,
    a:active {
      color: $c-links-header;
      border-bottom: none;
    }
  }

  .tagline {
    color: $c-header-tagline;
  }
}
