{% for post in postslist | reverse %}
  <div class="post">
    <div class="post-header">
      <a href="{{ post.url | url }}"><h3>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3></a>
    </div>
    <div class="post-metadata">
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </div>
    <div class="post-content">
      <p>{{ post.data.description | safe }}</p>
    </div>
  </div>
{% endfor %}
