/* Overall page layout styling. */
html,
body {
  height: 100%;
}

body {
  background: $c-body-background;
  display: flex;
  flex-direction: column;
}

header {
  background-color: $c-body-header;
  padding-bottom: 4rem;
  padding-top: 8rem;

  h1 {
    margin-bottom: 0;
  }

  .tagline {
    margin-bottom: 0;
  }
}

main {
  flex: 1 0 auto;

  .column-wrapper {
    display: block;
    height: 100%;

    @media (min-width: 750px) {
      & {
        display: flex;
      }
    }
  }

  .column,
  .columns {
    padding-bottom: 8rem;
  }

  .eight.columns {
    padding-top: 4rem;
  }
}

aside {
  padding: 4rem 2rem 2rem;
}

footer {
  background: $c-body-footer;
  flex-shrink: 0;
  padding-bottom: 4rem;
  padding-top: 8rem;

  p {
    margin-bottom: 0;
  }
}
