/* Overall page layout styling. */
html,
body {
  height: 100%;
}

body {
  background: $c-body-background;
  display: flex;
  flex-direction: column;
}

header {
  background-color: $c-body-header;
  padding-bottom: 2rem;
  padding-top: 4rem;

  h1 {
    font-size: 5rem;
    margin-bottom: 0;
  }

  .tagline {
    margin-bottom: 0;
  }
}

main {
  flex: 1 0 auto;

  .column-wrapper {
    display: block;
    height: 100%;

    @media (min-width: 750px) {
      & {
        display: flex;
      }
    }
  }

  .column,
  .columns {
    padding-bottom: 2rem;
  }

  .twelve.columns {
    padding-top: 2rem;
  }
}

section {
  margin: 1rem auto;
}

footer {
  flex-shrink: 0;
  padding: 2rem 0;

  p {
    margin-bottom: 0;
  }
}
