/* Overall page layout styling. */
html,
body {
  height: 100%;
}

body {
  background: $c-isabelline;
  display: flex;
  flex-direction: column;
}

header {
  background-color: $c-paynes-grey;
  padding-bottom: 4rem;
  padding-top: 8rem;

  h1 {
    margin-bottom: 0;
  }

  .tagline {
    margin-bottom: 0;
  }
}

main {
  flex: 1 0 auto;

  .column-wrapper {
    display: flex;
    height: 100%;
  }

  .column,
  .columns {
    padding-bottom: 8rem;
  }

  .eight.columns {
    padding-top: 4rem;
  }
}

aside {
  padding: 4rem 2rem 2rem;
}

footer {
  background: $c-columbia-blue;
  flex-shrink: 0;
  padding-bottom: 4rem;
  padding-top: 8rem;

  p {
    margin-bottom: 0;
  }
}
