/* Link styling. */
a {
  border-bottom: 1px dashed $c-links-default-accent;
  color: $c-links-default;
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    color: $c-links-interacting;
    border-bottom: 1px solid $c-links-interacting;
  }
}

#main-content a {
  background-image: linear-gradient(transparent 50%, $c-links-default-accent 50%);
  background-position-y: -0;
  background-size: 2px;
  background-size: auto 175%;
  border-bottom: 0;
  color: $c-text;
  text-decoration: none;
  transition: background 0.2s ease;

  &:hover,
  &:focus,
  &:active {
    color: $c-links-interacting;
  	background-position-y: 100%;
    border-bottom: 0;
  }
}
