// Base font styles.
body {
  color: $gray-darkest;
  line-height: 1.5;
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
}

::selection {
  background-color: $selection-bg;
}

:focus {
  outline: 2px solid $c-medium-vermilion;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

a {
  border-bottom: 1px dashed $c-medium-vermilion;
  color: $c-medium-vermilion-dark;
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    color: $c-paynes-grey;
    border-bottom: 1px solid $c-paynes-grey;
  }
}

h1,
h2,
h3 {
  font-family: $font-family-headers;
  font-weight: $font-weight-medium;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  border-left: 4px solid $c-isabelline;
  color: $gray-darker;
  padding-left: 2.5rem;
}

ul,
ol {
  margin-top: 0;

  ul,
  ol {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100%;
  }

  li {
    margin-bottom: 0;
  }
}
