// Base font styles.
body {
  color: $c-text;
  line-height: 1.5;
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
}

::selection {
  background-color: $selection-bg;
}

:focus {
  outline: 2px solid $c-contrast;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  font-family: $font-family-headers;
  font-weight: $font-weight-medium;
}

h1 {
  font-size: $font-size-h1-small;

  @media (min-width: 450px) {
    font-size: $font-size-h1-medium;
  }

  @media (min-width: 750px) {
    font-size: $font-size-h1-large;
  }
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  background-color: lighten($c-body-background, 5%);
  border-left: 4px solid darken($c-body-background, 20%);
  color: $gray-darker;
  padding: 1rem 0 1rem 2.5rem;

  > p:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-top: 0;
  list-style-position: outside;

  ul,
  ol {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100%;
  }

  li {
    margin-bottom: 0;
  }
}
