//
// Global variables file.
// -----------------------------------------------------------------------------

// Greyscale.
// -----------------------------------------------------------------------------

$black: #1a1919;
$gray-darkest: #222;
$gray-mid-darkest: #3e3e3e;
$gray-darker: #41413e;
$gray-dark: #555;
$gray: #6b6b69;
$gray-mid-light: #777;
$gray-light: #ccc;
$gray-lighter: #e6e6e6;
$white: #fff;

// Colours!!!
// -----------------------------------------------------------------------------

$c-medium-vermilion: #dd6e42;
$c-medium-vermilion-dark: darken($c-medium-vermilion, 20%);
$c-medium-vermilion-light: lighten($c-medium-vermilion, 15%);

$c-wheat: #e8dab2;
$c-wheat-dark: darken($c-wheat, 20%);
$c-wheat-light: lighten($c-wheat, 15%);

$c-paynes-grey: #4f6d7a;
$c-paynes-grey-dark: darken($c-paynes-grey, 20%);
$c-paynes-grey-light: lighten($c-paynes-grey, 15%);

$c-columbia-blue: #c0d6df;
$c-columbia-blue-dark: darken($c-columbia-blue, 20%);
$c-columbia-blue-light: lighten($c-columbia-blue, 15%);

$c-isabelline: #eaeaea;
$c-isabelline-dark: darken($c-isabelline, 20%);
$c-isabelline-light: lighten($c-isabelline, 5%);

// Fonts.
// -----------------------------------------------------------------------------

$font-family-literata: 'Literata', serif;
$font-family-muli: 'Muli', sans-serif;
$font-family-base: $font-family-muli;
$font-family-headers: $font-family-literata;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-base: 16px;
$font-size-h1: 6rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2.3rem;
$font-size-h5: 2rem;
$font-size-h6: 1.7rem;
$font-size-small: 0.75rem;
$font-size-permalink: 2.5rem;

// Background colours.
// -----------------------------------------------------------------------------

$selection-bg: rgba($c-columbia-blue, 0.6);
