//
// Global variables file.
// -----------------------------------------------------------------------------

// Greyscale.
// -----------------------------------------------------------------------------

$black: #1a1919;
$gray-darkest: #222;
$gray-mid-darkest: #3e3e3e;
$gray-darker: #41413e;
$gray-dark: #555;
$gray: #6b6b69;
$gray-mid-light: #777;
$gray-light: #ccc;
$gray-lighter: #e6e6e6;
$white: #fff;

// Colours!!!
// -----------------------------------------------------------------------------

// From coolors.co: https://coolors.co/93b7be-554348-e0e6e6-8c9a9e-747578
$c-sonic-silver: #747578;
$c-cadet-grey: #8C9A9E;
$c-dark-liver: #554348;
$c-dark-sky-blue: #93B7BE;
$c-platinum: #E0E6E6;

// Fonts.
// -----------------------------------------------------------------------------

$font-family-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-family-patua-one: 'Patua One', serif;
$font-family-base: $font-family-source-sans-pro;
$font-family-headers: $font-family-patua-one;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-base: 18px;
$font-size-h1: 12rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2.3rem;
$font-size-h5: 2rem;
$font-size-h6: 1.7rem;

$font-size-h1-large: $font-size-h1;
$font-size-h1-medium: 8rem;
$font-size-h1-small: 6rem;
$font-size-small: 0.75rem;
$font-size-permalink: 2.5rem;

// Colours applied to things!!!
// -----------------------------------------------------------------------------

// Main body layout.
$c-body-background: $c-platinum;
$c-body-header: $c-dark-liver;
$c-body-subtitle: mix($c-dark-liver, $c-platinum, $weight: 25%);
$c-body-nav: mix($c-dark-liver, $c-platinum, $weight: 25%);
$c-body-footer: $c-platinum;
$c-contrast: $c-cadet-grey;

// Type.
$c-text: scale-color($c-dark-liver, $lightness: -10%);
$selection-bg: rgba($c-cadet-grey, 0.6);

// Body links.
$c-links-default: $c-sonic-silver;
$c-links-default-accent: scale-color($c-dark-sky-blue, $lightness: 30%);
// $c-links-default-accent: $c-dark-sky-blue;
$c-links-interacting: $c-dark-liver;

// Header links.
$c-skip-link: scale-color($c-platinum, $lightness: +10%);
$c-links-header: $c-dark-sky-blue;
$c-links-main-navigation: scale-color($c-sonic-silver, $lightness: -40%);
$c-links-main-navigation-accent: scale-color($c-sonic-silver, $lightness: -20%);

// Sidebar links.
$c-links-navigation: scale-color($c-sonic-silver, $lightness: -20%);
$c-links-navigation-accent: scale-color($c-platinum, $lightness: +20%);

// Posts.
$c-post-list-borders: $c-cadet-grey;

// Miscellaneous.
$c-image-border: $c-dark-liver;
$c-table-header: $c-dark-sky-blue;
$c-table-stripe: scale-color($c-platinum, $lightness: +10%);
$c-header-tagline: scale-color($c-dark-sky-blue,  $lightness: +20%);
$c-hr: $c-dark-liver;
