// Global variables file.
// -----------------------------------------------------------------------------

@use "sass:color";

// Greyscale.
// -----------------------------------------------------------------------------

$black: #1a1919;
$gray-darkest: #222;
$gray-mid-darkest: #3e3e3e;
$gray-darker: #41413e;
$gray-dark: #555;
$gray: #6b6b69;
$gray-mid-light: #777;
$gray-light: #ccc;
$gray-lighter: #e6e6e6;
$white: #fff;

// Colours!!!
// -----------------------------------------------------------------------------

// From coolors.co: https://coolors.co/93b7be-554348-e0e6e6-8c9a9e-747578
$c-dark-sky-blue: #93b7be;
$c-dark-liver: #554348;
$c-platinum: #e0e6e6;
$c-cadet-grey: #8c9a9e;
$c-sonic-silver: #747578;

// Fonts.
// -----------------------------------------------------------------------------

// Font families.
$font-family-source-sans-pro: "Source Sans Pro", sans-serif;
$font-family-patua-one: "Patua One", serif;
$font-family-base: $font-family-source-sans-pro;
$font-family-headers: $font-family-patua-one;

// Font weights.
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes.
$font-size-base: 20px;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.3rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1.1rem;

// Specific font size overrides.
$font-size-h1-large: $font-size-h1;
$font-size-h1-medium: 3.5rem;
$font-size-h1-small: 3rem;
$font-size-small: 0.75rem;
$font-size-permalink: 2rem;

// Spacing variables.
// -----------------------------------------------------------------------------

$space: 1rem;
$space-quarter: calc($space / 4);
$space-half: calc($space / 2);
$space-double: calc($space * 2);
$space-triple: calc($space * 3);

// Colours applied to things!!!
// -----------------------------------------------------------------------------

// Main body layout.
$c-body-background: $c-platinum;
$c-body-header: $c-dark-liver;
$c-body-nav: color.mix($c-dark-liver, $c-platinum, $weight: 25%);
$c-contrast: $c-cadet-grey;

// Reusable variables.
$c-borders: $c-dark-liver;
$c-backgrounds: color.scale($c-body-background, $lightness: + 30%);

// Type.
$c-text: color.scale($c-dark-liver, $lightness: -10%);
$selection-bg: rgba($c-cadet-grey, 0.6);

// Body links.
$c-links-default: $c-sonic-silver;
$c-links-default-accent: color.scale($c-dark-sky-blue, $lightness: 30%);
$c-links-interacting: $c-dark-liver;

// Header links.
$c-skip-link: color.scale($c-platinum, $lightness: + 10%);
$c-links-header: $c-dark-sky-blue;
$c-links-main-navigation: color.scale($c-sonic-silver, $lightness: - 40%);
$c-links-main-navigation-accent: color.scale($c-sonic-silver, $lightness: - 20%);

// Posts.
$c-post-list-borders: $c-borders;
$c-blockquote-background: $c-backgrounds;
$c-blockquote-border: $c-borders;
$c-code-background: $c-backgrounds;

// Miscellaneous.
$c-image-border: $c-borders;
$c-table-header: $c-dark-liver;
$c-table-header-text: $c-platinum;
$c-table-stripe: color.scale($c-platinum, $lightness: + 10%);
$c-hr: $c-borders;
$c-details-border: $c-borders;
$c-welcome-message-background: $c-backgrounds;
