// Dark mode variables.
// -----------------------------------------------------------------------------

@use "sass:color";

$c-space-indigo: #191d32;
$c-deep-space-indigo: #282f44;
$c-vintage-grape: #453a49;
$c-mauve-shadow: #6d3b47;

// Main body layout.
$dc-body-background: $c-deep-space-indigo;
$dc-body-header: $c-space-indigo;
$dc-body-nav: color.mix($c-deep-space-indigo, $c-space-indigo, $weight: 25%);
$dc-contrast: $c-mauve-shadow;

// Reusable variables.
$dc-borders: $c-mauve-shadow;
$dc-backgrounds: color.scale($dc-body-background, $lightness: + 30%);

// Type.
$dc-text: $c-platinum;

// Body links.
$dc-links-default: $c-platinum;
$dc-links-default-accent: color.scale($c-mauve-shadow);
$dc-links-interacting: $c-deep-space-indigo;

// Header links.
$dc-skip-link: color.scale($c-platinum, $lightness: + 10%);
$dc-links-header: $c-dark-sky-blue;
$dc-links-main-navigation: $c-dark-sky-blue;
$dc-links-main-navigation-accent: color.scale($c-dark-sky-blue, $lightness: - 20%);

// Posts.
$dc-post-list-borders: $dc-borders;
$dc-blockquote-background: $dc-backgrounds;
$dc-blockquote-border: $dc-borders;
$dc-code-background: $dc-backgrounds;

// Miscellaneous.
$dc-image-border: $dc-borders;
$dc-table-header: $c-vintage-grape;
$dc-table-header-text: $c-platinum;
$dc-table-border: $dc-borders;
$dc-table-stripe: color.scale($c-deep-space-indigo, $lightness: + 10%);
$dc-hr: $dc-borders;
$dc-details-border: $dc-borders;
$dc-details-summary-background: color.scale($c-deep-space-indigo, $lightness: + 10%);
$dc-welcome-message-background: color.scale($c-platinum, $lightness: + 30%);
