/* Overrides for dark mode scheme. */
@media (prefers-color-scheme: dark) {
  body {
    background: $dc-body-background;
    color: $dc-text;
  }

  header {
    background-color: $dc-body-header;
  }

  .nav-container {
    background-color: $dc-body-nav;

    a {
      color: $dc-links-main-navigation;

      &:focus,
      &:hover,
      &:active {
        color: $dc-links-main-navigation-accent;
      }

      &::after {
        background: $dc-links-main-navigation-accent;
      }
    }
  }

  h2,
  h3 {
    letter-spacing: 0.5px;
  }

  a {
    border-bottom-color: $dc-links-default-accent;
    color: $dc-links-default;

    &:hover,
    &:focus,
    &:active {
      color: $dc-links-default-accent;
      border-bottom-color: $dc-links-default-accent;
    }
  }

  #main-content a {
    background-image: linear-gradient(transparent 50%, $dc-links-default-accent 50%);
    color: $dc-links-default;

    &:hover,
    &:focus,
    &:active {
      color: $dc-links-interacting;
    }
  }

  img {
    border: {
      color: $dc-image-border;
    }
  }

  blockquote,
  .pullquote {
    background-color: $dc-blockquote-background;
    border-left: 4px solid $dc-blockquote-border;
    color: $gray-lighter;
  }

  hr {
    border-top-color: $dc-hr;
  }

  table {
    th {
      background-color: $dc-table-header;
      color: $dc-table-header-text;
    }

    th,
    td {
      border-bottom-color: $dc-table-border;
    }

    tr:nth-child(2n+2) {
      background-color: $dc-table-stripe;
    }
  }

  details {
    border-color: $dc-details-border;
  }

  .post-list {
    .post {
      border-color: $dc-post-list-borders;
    }
  }

  pre[class^="language-"]::before {
    color: $dc-text;
  }

  code,
  pre,
  code[class*="language-"],
  pre[class*="language-"] {
    background: $dc-code-background;
  }

  pre[class*="language-"]::selection,
  code[class*="language-"]::selection {
    background: $selection-bg;
  }
}
