/* Geddit? Cos muscles sit on top of the skeleton. */
table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .direct-link {
    display: none;
  }

  &:hover {
    .direct-link {
      display: inline;
    }
  }
}

pre {
  > code[class^="language"] {
    border: 0;
    background: none;
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid $c-hr;
}

ol,
ul {
  list-style-position: initial;
  padding-left: revert;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
