/* Geddit? Cos muscles sit on top of the skeleton. */
table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .direct-link {
    display: none;
  }

  &:hover {
    .direct-link {
      display: inline;
    }
  }
}

pre {
  > code[class^="language"] {
    border: 0;
    background: none;
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid $c-hr;
}

ol,
ul {
  list-style-position: initial;
  padding-left: revert;
}

details {
  border: {
    color: $c-details-border;
    width: 1px;
    radius: 0.5rem;
    style: solid;
  }

  display: revert;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 100%;

  @media (min-width: 750px) {
    width: 80%;
  }

  > * {
    padding-top: 0.5rem;
  }

  > :last-child {
    margin-bottom: 0.5rem;
  }

  summary {
    background-color: transparent;
    display: revert;
    padding-top: 0;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.visually-hidden {
  /* stylelint-disable-next-line declaration-no-important */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
