/* Geddit? Cos muscles sit on top of the skeleton. */
.container {
  max-width: 50vw;
}

table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .direct-link {
    display: none;
  }

  &:hover {
    .direct-link {
      display: inline;
    }
  }
}
