/* Styles for the header region. */
header {
  background-color: $c-paynes-grey;
  padding-bottom: 4rem;
  padding-top: 8rem;

  h1 {
    margin-bottom: 0;

    a,
    a:hover,
    a:focus,
    a:active {
      color: $c-columbia-blue;
    }
  }

  .tagline {
    margin-bottom: 0;
    color: $c-columbia-blue;
  }
}
