---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h2 class="post-title">
  <a href="{{ page.url }}" title="Link to this post" class="permalink"><i class="fas fa-link"></i></a>
  {{ title }}
</h2>

<div class="post-metadata">
  <p>
    <strong>Posted:</strong> <time class="post-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time><br>
    {% set posttags = tags %}
    {% include "layouts/posts/post-tags.njk" %}
  </p>
</div>

{{ content | safe }}
