---
layout: layouts/page.njk
tags:
  - nav
navtitle: All posts
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: /posts/
---

{% set postslist = collections.posts %}
{% include "layouts/posts/post-list.njk" %}
