---
layout: layouts/home.njk
title: Recent posts
permalink: index.html
---

<p class="pullquote">Welcome to the site of Sophie S-K, a Drupal developer based in Bristol, UK.</p>

{% set postslist = collections.posts | head(-5) %}
{% include "layouts/posts/post-list.njk" %}
