---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
  addAllPagesToCollections: true
layout: layouts/page.njk
renderData:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
---
<h3>Tagged "{{ tag }}"</h3>

{% set postslist = collections[ tag ] %}
{% include "layouts/posts/post-list.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
