---
title: Body template
---
<header>
  {{ site_title }}
</header>

<div class="wrapper wrapper--content">
  <div class="wrapper wrapper-posts">
    {{ posts }}
  </div>

  <div class="wrapper wrapper--sidebar">
    {{ sidebar }}
  </div>
</div>

<footer>
  {{ site_footer }}
</footer>
