/* Custom styles for the site. */
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

header {
  background-color: $c-paynes-grey;
  padding-bottom: 4rem;
  padding-top: 8rem;

  h1 {
    margin-bottom: 0;

    a,
    a:hover,
    a:focus,
    a:active {
      color: $c-columbia-blue;
    }
  }

  .tagline {
    margin-bottom: 0;
    color: $c-columbia-blue;
  }
}

main {
  .eight.columns {
    padding-top: 4rem;
  }
}

aside {
  background-color: $c-isabelline;
  padding-top: 4rem;
}

table {
  width: 100%;
}
