<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="https://kit.fontawesome.com/8baa477886.js" integrity="sha384-0R8uMnSIOPPA/NyiuIGzF0KZK3ufYUg1PTAXKjJwPys6vjFgtPpxoyGIF+ekBFlR" crossorigin="anonymous"></script>
  </head>
  <body{% if page.fileSlug %} class="{{ page.fileSlug }}"{% endif %}>
    <div class="container">
      <div class="row skip-link--wrapper">
        <a href="#main-content" class="visually-hidden skip-link">Skip to main content</a>
      </div>
    </div>

    <header class="site-info">
      <div class="container">
        <div class="row">
          <h1 class="site-title"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>
      </div>
    </header>

    <div class="nav-container">
      <div class="container">
        <div class="row">
          <h2 class="visually-hidden">Navigation</h2>
          <nav>
            <ul class="navigation-main">
              {%- for nav in collections.nav -%}
              <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <main class="container{% if templateClass %} {{ templateClass }}{% endif %}">
      <div class="row column-wrapper">
        <div class="twelve columns" id="main-content">
          {{ content | safe }}
        </div>
      </div>

      <div class="row">
        <footer>
          <p>&copy; 2021 Sophie Shanahan-Kluth.</p>

          <ul class="navigation-footer">
            <li><a href="{{ '/about/credits' | url }}">Credits</a></li>
            <li><a href="{{ '/feed/feed.xml' | url }}"><i class="fas fa-rss"></i> RSS</a></li>
            <li><a href="{{ '/sitemap.xml' | url }}"><i class="fas fa-sitemap"></i> Sitemap</a></li>
            <li><a href="https://www.drupal.org/u/sophiesk"><i class="fab fa-drupal"></i><span class="visually-hidden">Drupal.org</span></a></li>
            <li><a href="https://www.twitter.com/iamsophiesk"><i class="fab fa-twitter"></i><span class="visually-hidden">Twitter</span></a></li>
            <li><a href="https://github.com/Tawreh"><i class="fab fa-github"></i><span class="visually-hidden">Github</span></a></li>
          </ul>
        </footer>
      </div>
    </main>

    <!-- Cabin - a lightweight eco-friendly analytics script. -->
    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
  </body>
</html>
